{% extends 'home.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Historial de Conversiones</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Empresa</th>
                <th>Fecha</th>
                <th>Descargar</th>
            </tr>
        </thead>
        <tbody>
            {% for conversion in conversiones %}
                <tr>
                    <td> {{ user.username }} </td>
                    <td>{{ conversion.fecha_conversion }}</td>
                    <td>
                        <form method="get" action="{% url 'descargar_conversion' conversion.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Descargar Excel</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}