{% extends 'limpiados.html' %}

{% block content %}
<div class="container text-center">
    <h1>Registros por Año</h1>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Contraparte</th> 
                <th>Año</th>
                <th>Cantidad de Registros</th>
                
            </tr>
        </thead>
        <tbody>
            {% for año_registro in años_y_registros %}
            <tr>
                <td>{{ tipo_contraparte }}</td> 
                <td>{{ año_registro.ano }}</td>
                <td>{{ año_registro.cantidad_registros }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}